
// ==========================================================================
// Helpers
// ==========================================================================

%hidden {
    /*
     * Hide visually and from screen readers:
     * http://juicystudio.com/article/screen-readers-display-none.php
     */
    display: none !important;
    visibility: hidden;
}

%visuallyhidden {
    /*
     * Hide only visually, but have it available for screen readers:
     * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
     */
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;

    /*
     * Extends the .visuallyhidden class to allow the element to be focusable
     * when navigated to via the keyboard: h5bp.com/p
     */
    &.focusable:active,
    &.focusable:focus {
        clip: auto;
        height: auto;
        margin: 0;
        overflow: visible;
        position: static;
        width: auto;

    }
}

%invisible {
    /*
    * Hide visually and from screenreaders, but maintain layout
    */
    visibility: hidden;
}





/* Visibility
   ========================================================================== */

.visuallyhidden,
.screen-reader-text {
    @extend %visuallyhidden;
}





/* Corners
   ========================================================================== */

.corner {
    border-radius: 4px;
}



/* Backgrounds
   ========================================================================== */

.bg-tawny {
    background-color: $tawny;
}
.bg-mariner {
    background-color: $mariner;
}
.bg-sienna {
    background-color: $sienna;
}
.bg-citrine {
    background-color: $citrine;
}
.bg-gray {
    background-color: $gray;
}
.bg-alto {
    background-color: $alto;
}



/* Borders
   ========================================================================== */

.border {
    margin-bottom: 1em;
    padding-bottom: 1em;
    border: 1px solid $alto;
}

.border--bottom {
    border-bottom: 1px solid $alto;
}

.border--right {
    border-right: 1px solid $alto;

    &.border-accent {
        position: relative;
        border: none;

        &:before {
            content:'';
            display: block;
            width: 1px;
            height: 100%;
            z-index: -1;
            background-color: $tawny;
            position: absolute;
            top: 0;
            right: 0;
        }


        &:after {
            content:'';
            display: block;
            width: 14px;
            height: 14px;
            border-radius: 50%;
            border: 1px solid $tawny;
            background-color: transparent;
            position: absolute;
            top: 100%;
            right: 0;
            transform: translateX(50%);
        }
    }
}





/* Text
   ========================================================================== */

.text-center {
    text-align: center;
}

.text-center--mobile {
    @include mq( $until: tablet ) {
        text-align: center;
    }
}

.text-center--desktop {
    @include mq( $from: tablet ) {
        text-align: center;
    }
}

.text-right {
    text-align: right;
}

.text-right--mobile {
    @include mq( $until: tablet ) {
        text-align: right;
    }
}

.text-right--desktop {
    @include mq( $from: tablet ) {
        text-align: right;
    }
}

.text-capitalize {
    text-transform: capitalize;
}

.text-upper {
    text-transform: uppercase;
}

.text-serif {
    font-family: $font-family-secondary;
}

.text-script {
    font-family: $font-script;
}

.text-light { 
    font-family: $font-light;
}

.text-white {
    color: white;
}

.text-gray {
    color: $gray;
}

.text-tawny {
    color: $tawny;
}

.text-tundora {
    color: $tundora;
}


/* Alignment
   ========================================================================== */

.pull-center {
    margin: 0 auto;
    display: block;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}





/* Hidden
   ========================================================================== */

.hide-on-mobile {
    @include mq( $until: tablet ) {
        display: none !important;
    }
}

.hide-on-desktop {
    @include mq( $from: tablet ) {
        display: none !important;
    }
}
