
// ==========================================================================
// Modules
// ==========================================================================

#outer-wrap {
    #inner-wrap {
        overflow: hidden;
        min-width: $desktop-wide; // desktop only
    }
}

/* Header
   ========================================================================== */
.header {
    // width: $desktop-wide; // desktop only
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    background: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.header--sub {
    width: 100%;
    overflow: hidden;
    background-color: $tawny;
    @include rem( 'height', 32px );

    .quick {
        margin: 0;
        padding: 0;
        float: right;
        list-style: none;
    }

    .quick__item {
        display: inline-block;
        @include rem( 'padding', 0 8px );
    }

    .quick__link {
        color: white;
        @include rem( 'font-size', 14px );
    }
}

.header {
    .l-header-main {
        @include rem( 'padding', 10px 0 );
    }

    .main {
        margin: 0;
        padding: 0;
        list-style: none;
        text-align: center;
        position: relative;

        li {
            display: inline-block;
            // @include rem( 'padding', 0 16px );

            &:last-child {
                padding: 0;
            }
        }
    }

    .flexbox & {
        .main {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    .main__link {
        display: block;
        color: $charcoal;
        font-family: $font-bold;
        text-transform: uppercase;
        position: relative;

        &:after {
            content: '';
            display: block;
            width: 100%;
            height: 10px;
            position: absolute;
            top: 100%;
            left: 0;
            background-image: url(../img/divider-tawny.png);
            background-size: contain;
            background-repeat: no-repeat;
            opacity: 0;
            visibility: hidden;
            transition: all 0.15s ease;
        }

        &:hover {
            color: $tawny;

            &:after {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    .main__link--search {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
    }
}



#offcanvas {
    margin: 0 auto;
    width: 100%;
    max-width: $desktop-wide;
}

#primary {
    // margin-top: 84px;
}



/* Hero
   ========================================================================== */

.hero {
    background-size: cover;
    background-position: center;
    @include rem( 'padding', 227px 0 183px );

    &.hero--card {
        @include rem( 'padding', 174px 0 0 );
    }

    .page-template-tpl-story & {
        padding-top: 0;
    }

    .page-template-tpl-product-ooo & {
        padding: 0;
    }
}

.hero--home {
    background-position: top center;
    background-repeat: no-repeat;
    @include rem( 'padding', 227px 0 143px );

    .hero__title {
        color: white;
        font-family: $font-family-secondary;
        text-shadow: 0 0 15px rgba(0, 0, 0, 0.9);
        @include rem( 'font-size', 48px );
        @include rem( 'margin', 40px 0 65px );
    }

    .btn {
        font-family: $font-bold;
        @include rem( 'font-size', 18px );
        @include rem( 'letter-spacing', 3px );
    }
}


.callout--home {
    position: relative;

    .l-six {
        @include rem( 'padding', 0 10px );
    }

    .l-half {
        width: 50%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        &:nth-child(2) {
            left: auto;
            right: 0;
        }
    }
}

.hero__nav {
    @include rem( 'padding', 23px 0 );
    @include rem( 'margin-bottom', 90px );
    background-color: rgba( $gray, 0.5 );

    .main {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .main__item {
        display: inline-block;
        @include span( 4 no-gutters );
    }

    .main__link {
        color: white;
        display: block;
        font-family: $font-bold;
        text-transform: uppercase;
        @include rem( 'font-size', 14px );
        @include rem( 'letter-spacing', 2px );

        img {
            max-width: 100%;
            display: block;
            opacity: 0;
            visibility: hidden;
            transition: all 0.15s ease;
        }

        &:hover {
            img {
                opacity: 1;
                visibility: visible;
            }
        }
    }
}


/* Out of frame imagery
   ========================================================================== */
.img__pull-center {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}

.img__pull-left {
    position: absolute;
    right: 100%;
    top: 50%;
    transform: translate(50%, -50%);
    z-index: -1;
}

.img__pull-right {
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

/* Home
   ========================================================================== */
#home-3,
#public-benefit-corp,
#sus-bottom,
#shop-brands {
    position: relative;

    .img__pull-center {
        top: 50px;
    }
}

#story-intro {
    .img__pull-left {
        top: 10%;
        transform: translateX(-50%);
    }

    .img__pull-right {
        top: 5%;
        transform: translateX(50%);
    }
}

#public-benefit-corp {
    .img__pull-left {
        top: 75%;
    }
}

#sus-bottom {
    .img__pull-left { 
        transform: translate(80%, -50%);
    }
}

#shop-brands {
    .img__pull-left {
        top: auto;
        transform: none;
        bottom: -3em;
        left: 3em;
    }

    .img__pull-right {
        bottom: 0;
        transform: none;
        top: auto;
        left: auto;
        right: 3em;
    }
}

#oil-bottom {
    .img__pull-left {
        transform: translateX(50%);
        top: 0;
    }

    .img__pull-right {
        transform: translateX(-50%);
        top: 0;
    }
}

#oil-links {
    a {
        color: $charcoal;
        text-decoration: underline;

        &:hover {
            color: $tawny;
        }

        &.social__content {
            margin-right: 3px;
            text-decoration: none;

            &:hover {
                i {
                    background-color: $tawny;
                }
            }

            i {
                display: inline-block;
                width: 32px;
                height: 32px;
                line-height: 32px;
                background-color: $charcoal;
                color: $alto;
                border-radius: 50%;
            }
        }
    }
}

/* Entry
   ========================================================================== */


.entry-title {
    color: white;
    margin-top: 0;
    font-family: $font-bold;
    text-transform: uppercase;
    @include rem( 'font-size', 45px );
    @include rem( 'letter-spacing', 5px );
}

.entry__content,
.entry-content {

    table {
        margin-bottom: 1em;
        width: 100%;
        border: 1px solid $mercury;

        & thead, & tfoot, th {
            background-color: darken( $off-white, 1% );
            font-weight: bold;
        }

        & th, & td {
            padding: .5em .625em .625em;
            text-align: left;
        }

        & tr:nth-of-type( even ) {
            background-color: lighten( $off-white, 1% );
        }
    }
}



/* "Flip" effect cards
   ========================================================================== */
.flip__container {
    .l-three {
        position: relative;
        perspective: 1000px;
        @include rem( 'height', 375px );
    }
}

.flip__card {
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 1s;
    -webkit-perspective: 1000;
    -webkit-backface-visibility: hidden;

    /* flip the pane when hovered */
    &:hover {
        transform: rotateY(180deg);

        .flip__front {
            transform: none;
        }
    }
    
}

.flip__heading {
    color: white;
    position: absolute;
    width: 100%;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    text-transform: uppercase;
    @include rem( 'font-size', 27px );
    @include rem( 'letter-spacing', 2px );
}

.flip__icon {
    position: relative;
    position: absolute;
    display: inline-block;
    bottom: 2em;

    &:before,
    &:after {
        content: '';
        width: 6px;
        height: 46px;
        display: block;
        background-color: $raw;
    }

    &:before {
        -ms-transform: rotate(90deg); /* IE 9 */
        -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
        transform: rotate(90deg);
        position: absolute;
        top: 0;
        left: 0;
    }
}

.flip__front {
    margin: 0;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
}

.flip__back {
    margin: 0;
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    backface-visibility: hidden;

    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    // initially hidden
    transform: rotateY(180deg);

    &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0; left: 0;
        width: 100%; height: 100%;
        background-color: rgba( $charcoal, 0.75 );
    }

    * {
        position: relative;
        z-index: 5;
    }

    p {
        @include rem( 'font-size', 18px );
        @include rem( 'line-height', 22px );

        &.text-accent {
            @include rem( 'font-size', 18px );
            @include rem( 'line-height', 22px );
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    .flip__icon {
        &:after {
            display: none;
        }
    }
}

.flip__content {
    @include rem( 'padding', 0 16px );

    &:last-child {
        padding: 0;
        position: absolute;
        bottom: 1em;
    }
}

// Overflowing background images
.bgwrap__container {
    position: relative;
}

.bgwrap__wrap {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    z-index: -1;
    width: 1600px;
}

/* Timeline
   ========================================================================== */
.timeline {
    position: relative;

    &:before {
        content: '';
        display: block;
        width: 1px;
        height: 100%;
        background-color: $tawny;
        position: absolute;
        left: 50%;
        top: 0;
        margin-left: -1px;
    }
}

.timeline__content {
    text-align: center;
    @include rem( 'padding', 40px 60px );
    @include span( 6 no-gutters );

    &:nth-child(odd) {
        clear: left;
        float: left;

        .timeline__date {
            position: relative;
            
            &:before {
                content:'';
                display: block;
                width: 14px;
                height: 14px;
                border-radius: 50%;
                border: 1px solid $tawny;
                position: absolute;
                left: 65%;
                top: 50%;
                transform: translateY(-50%);
            }

            &:after {
                content:'';
                display: block;
                width: 31%;
                height: 1px;
                margin-left: 14px;
                background-color: $tawny;
                position: absolute;
                left: 65%;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }

    &:nth-child(even) {
        // clear: right;
        float: right;
        position: relative;
        @include rem( 'top', 70px );

        .timeline__date {
            position: relative;
            
            &:before {
                content:'';
                display: block;
                width: 14px;
                height: 14px;
                border-radius: 50%;
                border: 1px solid $tawny;
                position: absolute;
                right: 65%;
                top: 50%;
                transform: translateY(-50%);
            }

            &:after {
                content:'';
                display: block;
                width: 31%;
                height: 1px;
                margin-right: 14px;
                background-color: $tawny;
                position: absolute;
                right: 65%;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
}

.timeline__date {
    margin: 0;
    color: $tundora;
    @include rem( 'font-size', 25px );
}

.timeline__title {
    margin: 0;
    color: $sienna;
    font-family: $font-script;
    @include rem( 'font-size', 58px );
}

.timeline__desc {
    margin: 0;
    font-family: $font-light;
    @include rem( 'font-size', 24px );
}


/* Story
   ========================================================================== */
.story {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.story--values {
    overflow: hidden;
}


/* Grid
   ========================================================================== */
.grid {
    display: flex;
}

.grid__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    @include rem( 'padding', 32px 16px );

    > * {
        width: 100%;
    }
}

/* Footer
   ========================================================================== */
.site-footer {
    min-width: $desktop-wide; // desktop only

    color: white;
    @include rem( 'padding', 25px 0 );

    p {
        margin: 0;
        @include rem( 'margin-top', 6px );
    }
}

.footer--menu {
    margin: 0;
    padding: 0;
    list-style: none;
    @include rem( 'margin-top', 6px );
}

.footer__item {
    line-height: 1;
    display: inline-block;
    border-right: 2px solid white;
    @include rem( 'padding', 0 16px );

    &:last-child {
        border-right: none;
    }
}

.footer__link {
    color: white;
    text-transform: uppercase;

    &:hover {
        color: white;
        text-decoration: underline;
    }
}